<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
    
    <h1>Update Task by ID</br></br>
        <a href="/"> Home </a> &nbsp;
        <a href="/addNewDev">Add New Developer </a>&nbsp;
        <a href="/listAllDevs">List All Developers </a>&nbsp;
        <a href="/addNewTask">Add New Task </a> &nbsp;
        <a href="/listAllTasks">List All Tasks </a>&nbsp;
        <a href="/deleteTask">Delete Task </a>&nbsp;
        <a href="/deleteCompleted">Delete Completed Tasks </a></br>
    </h1>
    <body>
        <form action="/updatedTask" method="POST">
            Task ID:
                <input type="text" name="taskID" /> </br>
            New Status 
                <select name = "taskStatus"> 
                <option value="In Progress">In Progress</option>
                <option value="Complete">Complete</option>
            </select> </br></br>
            <button>Submit</button>
        </form>
    </body>
</html>